.ot-page-transition-wrapper{
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
}

.ot-page-transition-will-change {
    will-change: transform;
}

.ot-page-transition-container{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    will-change: transform;
}

.ot-page-transition-transform-1{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.ot-page-transition-transform-2{
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
}
