.ot-page-transition-screenshot-right {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.ot-page-transition-screenshot-left {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
}

.ot-page-transition-will-change {
    will-change: transform;
}

.ot-page-transition-ss-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    will-change: transform;
}

.ot-page-transition-off-screen-right {
    transform: translateX(100%);
}

.ot-page-transition-half-off-screen-left {
    transform: translateX(50%);
}
