.ot-page-transition-wrapper {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 0;
    height: 100%;
    background-color: white;
    will-change: transform;
}

.ot-page-transition-wrapper-backward {
    left: 0;
    width: 100%;
}

.ot-page-transition-wrapper-forward {
    right: 100%;
    width: 100%;
}

.ot-page-transition-ss-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    will-change: transform;
}

.ot-page-transition-wrapper-post-backward {
    transform: translateX(100%);
}

.ot-page-transition-body-pre-forward {
    will-change: transform;
    transform: translateX(100%);
}

.ot-page-transition-screenshot-post-forward {
    transform: translateX(100%);
}
