/* Ocsigen widget: tip */

.ot-tip-bottom > .ot-tip-src { top: 100% ; }
.ot-tip-top > .ot-tip-src { bottom: 100% ; }
.ot-tip-left > .ot-tip-src { left: 0 ; }
.ot-tip-right > .ot-tip-src { right: 0 ; }
.ot-tip-center > .ot-tip-src { left: auto ; right: calc(50% - 14px) ; }
.ot-tip-src { position: absolute ; }

.ot-tip-filter {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    bottom: 0 ;
    right: 0 ;
}

.ot-tip-menu {
    position: absolute ;
    min-width: max-content ;
}
