name: Build

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - "4.13"
          - "4.14"
          - "5.0"
          - "5.1"
          - "5.2"
        include:
          - os: macos-latest
            ocaml-compiler: "4.14"
          - os: macos-latest
            ocaml-compiler: "5.2"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-pin: false

      - name: Re-install OpenSSL on macOS
        if: runner.os == 'macOS'
        run: brew update && brew reinstall openssl@3

      - run: opam pin add -n eliom https://github.com/ocsigen/eliom.git

      - run: opam install . --deps-only

      - run: opam exec -- dune build @install
